.dashboard{

    padding-right: 10px;
}

.nav-flex{
    margin-top: 200px;
 
}

.products-board{
}


.orders-board{
}

.add-form{
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
    font-family: 'Play', sans-serif;
}

input{
    height: 20px;
    width: 300px;
}

.dashboard>nav{

    position: fixed;
    top: 150px;
    left: 160px;
    padding-right: 30px;
    
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  figure{
    width: 300px;
    height: 300px;
  }
  
  figure > img {
    height: 100%
  }