@import url('https://fonts.googleapis.com/css?family=Arvo|Cairo|Monoton|Play');

.confirm-body{
    width: 100vw;
    font-size: 30px;
    padding-bottom: 100px;
}

.order-details{
    margin-top: 200px;
    margin-left: 0px;
    font-family: 'Play', sans-serif;
    padding-top:20px;
    text-align:center;
    
}
