@import url('https://fonts.googleapis.com/css?family=Arvo|Monoton');



  .gallery{
      height: 200px;
      width: 200%;
      display: flex;
      justify-content: space-evenly;
      z-index: 500;
  }

  h3{
    background: -webkit-linear-gradient(rgb(207, 163, 16), rgb(226, 219, 178));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Monoton', cursive;
      font-size: 40px;

  }



  #preview{
    height: 500;
    width: 600;
    margin: 0 auto;
    
  }

  h4{
      margin: 0 auto;
  }

  .top>img{
    position: relative;
    top: 100px;
    height: 50vh;
    width: 1800px;
}

.modal {
    background: white;
    font-size: 12px;
    align-content: center;
    height:700px;


  }
  .modal > .header {
    background: linear-gradient(to right, rgba(119,158,249,1) 0%,rgba(114,44,106,1) 54%,rgba(114,44,106,1) 65%,rgba(78,26,94,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#779ef9', endColorstr='#4e1a5e',GradientType=1 ); /* IE6-9 */
    color: white;
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }

  .modal > .add-cart{
    position: fixed;
    left: 250px;
    width: 30%;
    padding: 10px 5px;
    margin: auto;
    font-size: 20px;
    text-align: center;
  }

  #img-gif{
    background: black;
    margin-top: 90px;
    height: 700px;
    width:100%;
  }

