@import url('https://fonts.googleapis.com/css?family=Arvo|Monoton');



  .gallery{
      height: 200px;
      width: 200%;
      display: flex;
      justify-content: space-evenly;
      z-index: 500;
  }

  h3{
      color: rgb(45, 5, 62);
      font-family: 'Arvo', serif;
      font-size: 40px;

  }



  #preview{
    height: 350px;
    width: 350px;
    margin: 0 auto;
    
  }

  h4{
      margin: 0 auto;
  }

  .top>img{
    position: relative;
    top: 100px;
    height: 50vh;
    width: 100%;
}

.modal {
    background: white;
    font-size: 12px;
    align-content: center;
    height: 700px;


  }
  .modal > .header {
    background: purple;
    color: yellow;
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }

  .modal > .add-cart{
    position: fixed;
    left: 250px;
    width: 30%;
    padding: 10px 5px;
    margin: auto;
    font-size: 20px;
    text-align: center;
  }