@import url('https://fonts.googleapis.com/css?family=Arvo|Monoton');



  .gallery{
      height: 200px;
      width: 200%;
      display: flex;
      justify-content: space-evenly;
  }

  h3{
      color: rgb(45, 5, 62);
      font-family: 'Arvo', serif;
      font-size: 40px;

  }

 .modal{
     position: absolute;
     top: 30%;
     left: 40%;
     height: 1000px;
     width: 500px;
     font-family: serif;
     font-size: 1em;
     font-family: 'Arvo', serif;
 }

 .modal-footer{
     background: green;
    position: relative;
    top: 60%;
    left:10px;
 }

 .modal-header{
     background:rgb(45, 5, 62);
     font-family: 'Arvo', serif;
     color: goldenrod;
 }

  #preview{
    height: 250px;
    width: 250px;
    margin: 0 auto;
  }

  h4{
      margin: 0 auto;
  }

  .top>img{
    position: relative;
    top: 100px;
    height: 50vh;
    width: 100%;
}

