@import url('https://fonts.googleapis.com/css?family=Arvo|Monoton');

.header-wrap{
  background: linear-gradient(to right, rgba(119,158,249,1) 0%,rgba(114,44,106,1) 54%,rgba(114,44,106,1) 65%,rgba(78,26,94,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#779ef9', endColorstr='#4e1a5e',GradientType=1 ); /* IE6-9 */
  height: 100px;
  width: 100vw;
  position: fixed;
  top:0px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
 

}

.menu{
    height: 100px;
    width: 80vw;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    margin: 0 auto;
    display: flex;
    
  }
  .menu-nav{
    flex: 1;
    position:fixed;
    top:15px;
    left:50px;
  }
  .icon-wrap{
    flex: 1;
    display: inline-block;
  }
  
  .logo{
   flex: 3;
   position: fixed;
   top: 10px;
   left: 100px;
  }
  #headerLogo{
    height: 70px;
    width: 70px;
  }

  .drawer{
    position: fixed;
    top: 100px;
    left: 0;
    width: 0px;
    background: white;
    display:none;
    color: white;
    height: calc(100vh - 50px);
    transition: 1s;
    text-decoration: none;
    font-size:20px;
    
  }

  .open{
    width: 200px;
    display: initial;
    z-index: 100;
    
  }

  /* .images img{
    height: 20vh;
    width: 20vw;
  } */
  
  .bag{
    position: fixed;
    right: 0px;
    top: 15px;
  }

  
  #headerBag{
    height: 50px;
    width: 50px;
    margin-top: -10px;
  }
  

#headerLogin{
    position: fixed;
    right: 200px;
    top: 10px;
    height: 70px;
    width: 70px;
  }


  #headerAdmin{
    position: fixed;
    right: 300px;
    top: 10px;
    height: 70px !important;
    width: 70px !important;
  }

  h2{
    font-family: 'Monoton', cursive;
    background: -webkit-linear-gradient(rgb(207, 163, 16), rgb(226, 219, 178));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: heavy;
    margin-top: 5px;
    font-size: 1.5em;
  }

  #brand>figure #brand>h2{
    background: green;
    position: fixed;
    top: 10px;
    left: 150px;
  }

.dropdown  {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    overflow: scroll;
}

.dropdown-content {
    position: fixed;
    background-color: #f9f9f9;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:800;
    transition: .7s;
    overflow: scroll;
    max-height: 90vh;
    height: 100%;
    
}

.show {
  transform: translate(300px, 18px);
 

}

.hide{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transform: translate(-275px, 18px);

}

.account-circle{
  position: fixed;
  right: 0px;
}

#header-box{
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top:0px;
  width: 100vw;
}

#header-box>div{
  flex:1;
}


@media(min-width: 550px){

h2{
  font-size: 3em;
  margin-top: 0px;
}

.bag{
  position: fixed;
  right: 0px;
  top: 15px;
}

#headerBag>img{
  height: 70px;
  width: 70px;
}
}