@import url('https://fonts.googleapis.com/css?family=Arvo|Monoton');

.header-wrap>div{
  background: rgb(33, 3, 33);
  height: 100px;
  width: 100vw;
  position: fixed;
  top:0px;

}

.menu{
    height: 100px;
    width: 80vw;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    margin: 0 auto;
    display: flex;
    
  }
  .menu-nav{
    flex: 1;
  }
  .icon-wrap{
    flex: 1;
    display: inline-block;
  }
  
  .logo{
   flex: 3;
   position: fixed;
   top: 10px;
   left: 250px;
  }
  .logo>img{
    height: 100px;
    width: 100px;
  }

  .drawer{
    position: fixed;
    top: 110px;
    left: 0;
    width: 0px;
    background: palegoldenrod;
    display:none;
    color: white;
    height: calc(100vh - 50px);
    transition: 1s;
  }

  .open{
    width: 150px;
    display: initial;
    
  }
  
  img{
    height: 70px;
    width: 70px;
  }

  .bag{
    position: fixed;
    right: 150px;
    top: 10px;
  }

  .login{
    position: fixed;
    right: 250px;
    top: 10px;
  }

  h2{
    font-family: 'Monoton', cursive;
    color: gold;
    font-weight: heavy;
    font-size: 3em;
    position: fixed;
    top: 30px;
    left: 350px;
  }
