.menu{
    background: pink;
    height: 100px;
    width: 100vw;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between
    
  }

  img{
    height: 100px;
    width: 100px;
  }