.menu{
    background: purple;
    height: 100px;
    width: 100vw;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between
    
  }

 .logo{
    height: 50px;
    width: 50px;
  }

  .drawer{
    position: fixed;
    top: 110px;
    left: 0;
    width: 0px;
    background: palegoldenrod;
    display:none;
    color: white;
    height: calc(100vh - 50px);
    transition: 1s;
  }

  .open{
    width: 150px;
    display: initial;
    
  }
  
  .icons>img{
    height: 50px;
    width: 50px;
  }
  .bag>img{
    height: 50px;
    width: 50px;
  }